/* product page */
#percolate-ui-ilm_div,
#amsDetailRight_feature_div,
#similarities_feature_div,
#hqpWrapper,
#discovery-and-inspiration_feature_div,
#cr-ADPlaceholder,
#ad-endcap-1-drambot_feature_div,
#gridgetWrapper,
#dp-ads-center-promo-dramabot_feature_div,
[id*="Dramabot_feature"],
[id*="-sponsored-products-"],
div[id^="ad-"],
#inemi_feature_div,
#inEMI_feature_div,
#b2bUpsell_feature_div,
#buyItOnAB_feature_div,
#hero-quick-promo_feature_div,
[id*="sponsoredProduct"],
[id*="-ads-"],
#detailILMPercolate_feature_div
{
	display: none !important;
}

/* comments page */
.reviews-display-ad
{
	display: none !important;
}

/* search page */
.AdHolder,
div[class*="advertising"],
div[class*="template=VIDEO_SINGLE_PRODUCT"],
div[class*="template=FEATURE_CARD"],
[data-cel-widget^="MAIN-FEATURED_ASINS_LIST"]
{
	display: none !important;
}

/* home page */
#live-flagship-root
{
	display: none !important;
}
