/* product page */
#dealBadge_feature_div,
.savingsPercentage,
#simpleBundle_feature_div
{
	display: none !important;
}

/* search page */
a[href^="/gp/goldbox"],
span[class*="_dealBadge_"],
span[class*="_style_badge_"],
[class*="deal-badge"],
[class*="dealBadge"],
div.a-section.a-spacing-none > span.a-size-mini.a-color-secondary,
#valuePick_container
{
	display: none !important;
}

/* home page */
div[class*="-atf_deals-"]
{
	display: none !important;
}

