/* product page */
.es-block-deal #dealBadge_feature_div,
.es-block-deal .savingsPercentage,
.es-block-deal #simpleBundle_feature_div
{
	display: none !important;
}

/* search page */
.es-block-deal a[href^="/gp/goldbox"],
.es-block-deal span[class*="_dealBadge_"],
.es-block-deal span[class*="_style_badge_"],
.es-block-deal [class*="deal-badge"],
.es-block-deal [class*="dealBadge"],
.es-block-deal div.a-section.a-spacing-none > span.a-size-mini.a-color-secondary,
.es-block-deal #valuePick_container
{
	display: none !important;
}

/* home page */
.es-block-deal div[class*="-atf_deals-"]
{
	display: none !important;
}

/* shopping cart page */
.es-block-deal #cart-recs-carousel,
.es-block-deal #cart-item-recs,
.es-block-deal #sc-about,
.es-block-deal [class*="deals-badge"],
.es-block-deal .sc-badge-basis-price
{
	display: none !important;
}

