/* product page */
.es-block-stats #socialProofingAsinFaceout_feature_div,
.es-block-stats #rhf
{
	display: none !important;
}

/* search page */
.es-block-stats div[class*="_ProductInsightsBlock_"],
.es-block-stats div[class*="card-container"] span.a-size-base.a-color-secondary
{
	display: none !important;
}

/* cart page */
.es-block-stats .sc-product-scarcity
{
	display: none !important;
}
