/* product page */
#socialProofingAsinFaceout_feature_div,
#rhf
{
	display: none !important;
}

/* search page */
div[class*="_ProductInsightsBlock_"],
div[class*="card-container"] span.a-size-base.a-color-secondary
{
	display: none !important;
}

/* cart page */
.sc-product-scarcity
{
	display: none !important;
}
